
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
 font-family: Helvetica, Arial, sans-serif;
}
 
.logo-sony img {
    width: 3rem; 
}

.dropdown-giochi li{
    list-style: none;

}

.dropdown-menu {   
    width: 100vh;  
   text-align: center;
}

.btn {
    border-radius: 20px;
}

