
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
 font-family: Helvetica, Arial, sans-serif;
}
 
.logo-sony img {
    width: 3rem; 
}

.dropdown-giochi li{
    list-style: none;

}

.dropdown-giochi{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}