* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}


.btn {
    border-radius: 20px;
}

.btn-animated:hover {
  background-color: #1052ce;
  transform: scale(1.05); 
  box-shadow: 0 4px 12px rgba(5, 41, 160, 0.4); 
}

.btn-animated:active {
  transform: scale(0.98);
}

/*Header*/
.logo-sony img {
    width: 3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
}

.dropdown {
    position:static;
}

.dropdown-icona:hover{
  box-shadow: 0 20px 40px rgba(0,123,255,0.3); 
}  

.navbar{
    position:relative;
    
}

/*Returnal*/

.card-hover:hover {
  z-index: 10;
  transform: translateY(-8px) scale(1.02); /* Sollevamento + leggero zoom */
  box-shadow: 0 20px 40px rgba(0,123,255,0.3); /* Ombra profonda */
}

.container-hero {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    background-image: url("/img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.hero-content{
    padding-bottom: 100px;
    margin:35px;
    width: 100%
}

.hero-content img{
    width: 300px;
}

@media screen and (min-width: 992px) {

   .hero-content {
           width:35% ;
    }
}

/*PS5 e componenti*/

.conponent-hover:hover {
  z-index: 10;
  transform: translateY(-8px) scale(1.02); 
  box-shadow: 0 20px 40px rgba(0,123,255,0.3); 
}  

.component-cont {
  display: flex;           
  flex-direction: row;     
  justify-content: space-evenly; 
  gap: 20px;              
  flex-wrap: wrap;         
}

.component-card {
  flex: 0 0 200px;        
  text-align: center; 
  /*position:relative;
  z-index:1;
  dopo che ho dato opacity passano al di sopra della navbar,
  ho provato a dare z-index:1 ma non ha funzionato*/     
}

.component-card p {
 display: none;
}

@media screen and (min-width: 768px) {

    .component-card p {
    display: inline-block;
}  
}

/*ItTakesTwo*/

.takestwo-container {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    background-image: url("/img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    
}

.takestwo-content{
    padding-bottom: 20px;
    margin:35px;
    width: 100%
}

.takestwo-logo img{
    width: 20rem;
     
}

@media screen and (min-width: 992px) {

   .takestwo-content {
           width:35% ;
    }
}

/*PlayStation Plus*/
.ps-plus {
    background-color:rgba(190, 188, 187) ;
}

.ps-plus-game{
    display: none;
}

@media screen and (min-width: 768px) {

   .ps-plus-game {
           display: block ;
    }
}

/*PlayStation Now*/
.ps-now {
    background-color:rgba(22, 28, 59) ;
}

.ps-now-game{
    display: none;
}

@media screen and (min-width: 768px) {

   .ps-now-game {
           display: block ;
    }
}


/*Social*/
@media screen and (min-width: 768px) {
.social-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;       
    max-width: 1000px;        
    margin: 0 auto 70px;      
    padding: 20px 40px;   
}
}

/*Footer*/

/*.country::before {btn-animated
    content: \F3EE;
    font-family;bootstrap-icon;
    margin-right: 10px;
}
alla fine ho inserito l'icona nel <p> */

@media screen and (min-width: 1200px) {
    .footer-text{
        width: 45%;
    }
} 


